.post-card {
    width: 300px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #ccc;
}

.post-card h2 {
    margin-top: 0;
}

.post-card .tags {
    margin-top: 10px;
    font-size: 0.8em;
}

.post-card .tags span {
    margin-right: 10px;
}

.section {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.section h3 {
    margin-top: 0;
}

.section .section-content {
    margin-top: 10px;
}
